<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<th:block th:replace="commonPages/header :: header"></th:block>

<form action="/board/update" method="post">
    <input type="hidden" name="id" th:value="${boardUpdate.id}">
    <input type="text" name="boardTitle" th:value="${boardUpdate.boardTitle}">
    <input type="text" name="boardWriter" th:value="${boardUpdate.boardWriter}">
    <input type="text" name="boardContents" th:value="${boardUpdate.boardContents}">
    <input type="submit" value="글수정">
</form>
</body>
</html>